<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AcademicsFIT</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="CSS/stylealuno.css">
</head>
<body>
    <header style="border: 0;">
        <nav>
            <div class="logo"><span> AcademicsFIT</span></div>
        </nav>
        <section class="container"
            style="background-color:#ffffff80;height: 80vh;width: 95vw;margin: auto;border-radius: 10px;">
            <div class="row" style="background-color: rgba(255,255,255,0.2);height: 100%;">
                <div class="col-4 p-3" style="background-color: rgba(255,255,255,0.2);height: 100%;text-align: center;">
                    <img src="img/blank-profile-picture-973460__340.webp" alt="" style="border-radius:50%" width="50%">
                    <h1>Nome do Aluno</h1>
                    <h6>info geral</h6>
                </div>
                <div class="col-8" style="height: 100%;">
                    <div class="row text-center h4 m-0" style="height: 10%;width: 100%;display: block;">
                        Marque uma aula
                    </div>
                    <div class="row text-center" style="height: 40%;">
                        <div class="col-4">
                            <img src="img/blank-profile-picture-973460__340.webp" alt="" style="border-radius:50%;padding: 10px;" width="50%">
                            <h6>Nome do professor</h6>
                            <h6>info geral</h6>
                        </div>
                        <div class="col-4">
                            <img src="img/blank-profile-picture-973460__340.webp" alt="" style="border-radius:50%;padding: 10px;" width="50%">
                            <h6>Nome do professor</h6>
                            <h6>info geral</h6>
                        </div>
                        <div class="col-4">
                            <img src="img/blank-profile-picture-973460__340.webp" alt="" style="border-radius:50%;padding: 10px;" width="50%">
                            <h6>Nome do professor</h6>
                            <h6>info geral</h6>
                        </div>
                    </div>
                    <div class="row" style="background-color: rgba(255,255,255,0.2);height: 50%;">
                        
                        <div class="col  justify-content-center"
                            style="text-align:center;line-height: 100%;border-radius: 50px;padding:30px 0;margin: 10px 1rem 10px;background: linear-gradient(106.56deg, #CD1515 -9.95%, #E7721E 70.85%);">
                            <h1 style="display: flex;align-items: center;justify-content: center;height: 100%;margin: 0;">Ficha 1 <br>&#8203 </h1>
                        </div>
                        <div class="col  justify-content-center bg-gradiente"
                            style="text-align:center;line-height: 100%;border-radius: 50px;padding:30px 0;margin: 10px 1rem 10px;background: linear-gradient(90deg, #155FCD, #53ccff);">
                            <h1 style="display: flex;align-items: center;justify-content: center;height: 100%;margin: 0;">Ficha 2 <br>&#8203 </h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>
</html>