<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AcademicsFIT</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css" href="css/styleLoginAluno.css">

</head>

<body>
  <header>
    <nav>
      <div class="logo"><span> AcademicsFIT</span></div>
    </nav>

    <form action="">
      <div class='container'>
        <div class='card'>
          <h1> Cadastrar </h1>

          <div id='msgError'></div>

          <div class='label-float'>
            <input type='text' id='CpfLoginAluno' maxlength="11" paceholder='' required>
            <label id='userLabel' for='usuario'>Nome</label>
          </div>

          <div class='label-float'>
            <input type='text' id='CpfLoginAluno' maxlength="11" paceholder='' required>
            <label id='userLabel' for='usuario'>Email</label>
          </div>

          <div class='label-float'>
            <input type='text' id='CpfLoginAluno' maxlength="11" paceholder='' required>
            <label id='userLabel' for='usuario'>Especialidade</label>
          </div>


          <div class='label-float'>
            <input type='text' id='CpfLoginAluno' maxlength="11" paceholder='' required>
            <label id='userLabel' for='usuario'>CPF</label>
          </div>

          <div class='label-float'>
            <input type='password' id='senhaLoginAluno' paceholder='' required>
            <label id='senhaLabel' for='senha'>Senha</label>
            <i class="fa fa-eye" aria-hidden="true"></i>
          </div>

          <div class='justify-center'>
            <button onclick='entrar()'>Cadastrar</button>
          </div>

          <div class='justify-center'>
            <hr>
          </div>
    </form>


    <p> Já possui conta?
      <a href='LoginPersonal.html'> Entrar </a>
    </p>

    </div>
    </div>

  </header>

</body>
</html>