<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/style.css">
    <title>AcademicsFit</title>
</head>
<body>
    <div class="header">
        <form action="POST">            
            <input type="text" name="nome" id="nome" placeholder="Digite seu nome">
            <br/>
            <input type="email" name="email" id="email" placeholder="Digite seu email">
            <br/>
            <input type="password" name="senha" id="senha" placeholder="Digite sua senha">
            <br/>
            <input type="password" name="confirmarSenha" id="confirmarSenha" placeholder="Confirme sua senha">
            <br/>
            <button type="submit" id="botao">Cadastrar</button>
            <br/>
    
            <div class="resultado"></div><!--resultado-->
        </form>
    </div><!--resultado-->

    <script src="js/cadastrarUsuario.js"></script>
</body>
</html>
