<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3df637a2f2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../style.css">
    <title>Inicial</title>
</head>
<body>
    <header>
        <div class="menu-content">
            <h1 class="logo"> AcademicsFit</h1>
            <nav class="header-menu">
                <ul class="list-itens">
                    <li><a href="../../index.html">home</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="main-content">


        </div>
    </main>
</body>
</html>