<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>academicsfit</title>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
    <form action="POST" class="cadastro">
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome" placeholder="Digite seu nome">

        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Digite seu email">

        <label for="senha">Senha</label>
        <input type="password" name="senha" id="senha" placeholder="Digite sua senha">

        <label for="confirmarSenha">Confirmar Senha</label>
        <input type="password" name="confirmarSenha" id="confirmarSenha" placeholder="Confirme sua senha">

        <button type="submit" class="cadastrar">Cadastrar</button>
    </form><!--cadastro-->

    <script src="js/main.js"></script>
</body>
</html>
